<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading has-text-white has-text-centered">Trends</p>
		<a class="panel-block has-text-centered">
			# Elon Musk to provide travel to Aasgard
		</a>
		<a class="panel-block has-text-centered">
			# De Beers to acquire Infinity Stones
		</a>
		<a class="panel-block has-text-centered">
			# Stark Enterprise to IPO later this year
		</a>
	</nav>
</div>