<div class="column">
	<nav class="panel">
		<p class="panel-heading has-text-white has-text-centered">Who To Follow</p>
	<% @tweeets.each do | tweeet | %>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-32x32">
						<%= image_tag(tweeet.user.avatar) if tweeet.user.avatar.attached? %>
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong><%= tweeet.user.name %></strong><br>
							<small>@<%= tweeet.user.username %></small>
						</p>
					</div>
				</div>
			</article>
		</div>
	<% end %>
	</nav>
</div>